@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}


/* personalização do header da tela de cadastro */
.header {
    background-color: #243a69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Story Script", sans-serif;
    padding: 20px;
    color: white;
}

/* personalização do nome principal */
.txtheader {
    font-size: 80px;
}


/* personalização da imgaem do header */
.img-footer {
    width: 250px;
}

/* listas */
.div-li {
    list-style: none;
}

.div-li {
    display: flex;
    gap: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.div-li a {
    text-decoration: none;
    color: black;
}

/* FIM DO CABEÇALHO */






/* Personalização do Body/Corpo do Site */

.form {
    padding: 10px;
}

.caixa {
    width: 350px;
    height: auto;
    background-color: #d4cdc5;
    padding: 10px;
    margin-top: 100px;
}



main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Story Script", sans-serif;
    background-color: #5b88a5;
    padding: 60px;
}

.a-button {
    text-decoration: none;
    color: black;
}


.a-section {
    color: #191013;
    text-decoration: none;
}

.section-02 {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.a-button {
    width: 150px;
    padding: 10px;
    font-family: "Story Script", sans-serif;
    background-color: #f4f4f2;
    border: none;
    font-weight: 800;
    text-align: center;
    margin-right: 15px;
    border-radius: 4px;

}

.input-section {
    width: 150px;
    padding: 10px;
    font-family: "Story Script", sans-serif;
    background-color: #f4f4f2;
    border: none;
    font-weight: 800;
    text-align: center;
    margin-right: 15px;
    border-radius: 4px;
}

.tem-uma-conta{
   gap: 60px;
    padding: 10px;
    font-family: "Story Script", sans-serif;
    margin-top: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
    display: flex;
}
/* fim do body do site */




/* inicio da personalização do footer */

footer {
    background-color: #243a69;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Story Script", sans-serif;
    padding: 80px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-p {
    color: white;
}

.footer-img {
    width: 10x;
}

.fa-whatsapp,
.fa-github,
.fa-instagram {
    color: white;
}

.iframe {
    margin-left: 900px;
}