@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    /*estilização UNIVERSAL*/
    margin: 0;
    /*removendo os espaçamentos laterais e superiores*/
    padding: 0;
    /*desabilitando preenchimento aplicado por padrão*/
    scroll-behavior: smooth;
    /*trasição univresal no scrool de rolagem*/
    list-style: none;
    /*removendo estilização de lista UNIVERSAL*/
}
/* estilização do header */

.header {
    background-color: #243a69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Story Script", sans-serif;
    padding: 40px;
    color:white;
}

 .txtheader {
font-size: 80px;
 }


.img-footer {
    width: 250px;
}

.div-li {
    list-style: none;
}

.div-li {
    display: flex;
    gap: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.div-li a {
    text-decoration: none;
    color: black;
}
/* FIM DO CABEÇALHO */



/* começo da section 01 */


.section01 {
    padding: 50px;
    background-color: #191013;
}


.tabelas {
    background-color: #f4f4f2;
    border-radius: 10px;
    font-family: "Story Script", sans-serif;

}


/* fim das tabelas */


/* inicio da personalização do footer */

footer {
    background-color: #243a69;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Story Script", sans-serif;
    padding: 80px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-p {
    color: white;
}

.footer-img {
    width: 10x;
}

.fa-whatsapp,
.fa-github,
.fa-instagram {
    color: white;
}


.iframe {
    margin-left: 900px;
}