@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    /*estilização UNIVERSAL*/
    margin: 0;
    /*removendo os espaçamentos laterais e superiores*/
    padding: 0;
    /*desabilitando preenchimento aplicado por padrão*/
    scroll-behavior: smooth;
    /*trasição univresal no scrool de rolagem*/
    list-style: none;
    /*removendo estilização de lista UNIVERSAL*/
}


.whatsapp img {
    width: 50px;
}

.whatsapp { /*div que guarda o icon whatsapp*/
    position: fixed; /*posicionamento fixo*/
    right: 10px; /*posicionado á direita (25px)*/
    bottom: 220px; /*posicionando á 25px do bottom*/
}

.whatsapp img:hover{
width: 60px;
transition: 0.8s;
}

/* estilização do header */

.header {
    background-color: #243a69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Story Script", sans-serif;
    padding: 40px;
    color: #d4cdc5;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1; /*controla a sobreposição dos itens*/
}

.txtheader {
    font-size: 80px;
}


.img-footer {
    width: 250px;
}

.div-li {
    list-style: none;
}

.div-li {
    display: flex;
    gap: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.div-li a {
    text-decoration: none;
    color: black;
}

.div-li a:hover {
transition: 0.5s;
    color: white;
}

/* FIM DO CABEÇALHO */


/* section 1 */

.section-01 {
    background-color: #5b88a5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

.section-01-img {
    margin-top: 20px;
    width: 400px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 10px 10px 25px #243a69;
    transition: 0.8s;
}

.section-01-img:hover {
    box-shadow: 15px 15px 35px #243a69;
}


span {
    color: white;
    font-family: "Story Script", sans-serif;
}

.section-01 p {
    font-family: "Story Script", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.button-01 {
    font-size: 16px;
    margin-top: 15px;
    width: 150px;
    padding: 5px;
    font-family: "Story Script", sans-serif;
    background-color: #f4f4f2;
    border: none;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 15px;
    margin-left: 350px;
    margin-top: 35px;
}

.button-01:hover {
    background-color: #243a69;
    transition: 0.5s;
}

.ancora-01 {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 17px;
}

/* FIM DA SECTION 1 */

/* section 2  */

.section-02 {
    background-color: #5b88a5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Story Script", sans-serif;
    padding: 100px;
    gap: 20px;
}

.logo-section02 {
    width: 450px;
    display: flex;

}

.section-02-p {
    font-size: 30px;
}


/* SECTION 3 */

.section-03 {
    background-image: url(../imagens/red-mitsubishi-lancer-riding-4bufjias21qztppr.jpg);
    padding: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.button-section03 {
    width: 150px;
    padding: 7px;
    font-family: "Story Script", sans-serif;
    background-color: #f4f4f2;
    border: none;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 15px;
}

.button-section03:hover {
    background-color: #243a69;
    transition: 0.5s;
}

/* fim da section 3 */



/* inicio da section 4 */
.section-04 {
    background-color: #191013;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    text-align: center;
    font-family: "Story Script", sans-serif;
    padding: 80px;
    color: black;
}

.fa-solid,
.fa-star-half {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.div-04 {
    background-color: #d4cdc5;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    transition: 0.8s;
}

.div-04:hover {
    box-shadow: 12px 12px 25px white;
}


.gif-04 {
    background-image: url(../imagens/Art\ Design\ GIF\ by\ dualvoidanima.gif);
    padding: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    transition: 0.8s;
}

.gif-04:hover {
    box-shadow: 15px 15px 25px white;
    transition: 0.8s;
}

/* fim da section 4 */

footer {
    background-color: #243a69;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Story Script", sans-serif;
    padding: 15px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-p {
    color: white;
}

.footer-img {
    width: 10x;
}

.fa-whatsapp,
.fa-github,
.fa-instagram {
    color: white;
}

.caixa-iframe {
    margin-left: 500px;
}

.iframe-01 {
    width: 260px;
    height: 260px;
}